#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.score-div {
  text-align: center;
  font-size: 24px;
  width: 500px;
  margin: 30px auto;
  background-color: aqua;
}

.play-again-btn {
  display: inline-block;
  text-decoration: blink;
  font-size: 30px;
  width: 100%;
  background-color: coral;
}

#lowest-score {
  float: right;
}
